.parent{

    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
body{

    font-family: Century Gothic;
    background-color: #1e381f;
}
h1{

    padding-top: 100px;
    margin-left: 10px;
}
p{  font-size: 25px;
    font-family: Century Gothic;
    color: white;
    left: 0;
    margin: 5px;
    padding: 5px;
}

.Miel{

    color: white;
    font-family: Century Gothic;
    left: 100px;

}
.Huevos{

    color: white;
    font-family: Century Gothic;
    left: 100px;

}



.logo {
    letter-spacing: 5px;
    font-size: 1.3em;
    color: #ffffff;
}

.hamburger {
    display: none;
    color: #ffffff;
}

.cabezal {
    background: #8db600;
    color: #1e381f;
    padding: 2rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
}

.cabezal a {
    text-decoration: none;
}

.logo_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 80%;
    color: #ffffff;
}

.navigation ul li a:hover {
    background-color: #ffffff;
    color: #1e381f;
}

.botones_1_1 {
    background-color: #8db600;
    padding: 10px;
    column-gap: 18%;
    display: flex;
    justify-content: start;
}

@media only screen and (max-width: 900px){
   
    .hamburger {
        display: block;
        cursor: pointer;
        padding: 0.5rem;
        margin-right: 0px;
    }
    .logo{

        font-size: 3.5vw;
    }
    .navigation {
        width: 100%;
        margin-top: 1rem;
    }
    .navigation ul {
        display: none;
    }
    .navigation ul.show {
        display: block;
    }
    .navigation ul li {
        display: block;
    }
    .navigation ul li a {
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 80%;
        color: #ffffff;
    }
    .navigation ul li a:hover {
        background-color: #ffffff;
        color: #1e381f;
    }
    .navigation a {

        text-align: center;
    }
    .cabezal{

        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 1000px) {
    .hamburger {
        display: block;
        cursor: pointer;
        padding: 0.5rem;
        margin-right: 0px;
    }
    .logo{
        margin-left: 0px;
        font-size: 3.5vw;
    }
    .navigation {
        width: 100%;
        margin-top: 1rem;
    }
    .navigation ul {
        display: none;
    }
    .navigation ul.show {
        display: block;
    }
    .navigation ul li {
        display: block;
    }
    .navigation ul li a {
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 80%;
        color: #ffffff;
    }
    .navigation ul li a:hover {
        background-color: #ffffff;
        color: #1e381f;
    }
    .navigation a {

        text-align: center;
    }
    .cabezal{

        padding-bottom: 10px;
    }
}






footer{
    width: 100%;
    background: #202020;
    color: white;    
}

.container-footer-all{
    width: 100%;
    margin: auto;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    width: 100%;
}

.colum1 h2{
    font-size: 22px;
    margin-left: 20px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
    margin-left: 20px;
}

.colum2{
    width: 100%;
    
}

.colum2 h2{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    width: 100%;
}

.colum3 h2{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    padding-top: 20px; 
    padding-bottom: 20px;
}

.copyright{
    color: #C7C7C7;
    margin-left: 10px;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
    margin-right: 1cm;
}



@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
        padding-right: 1cm;
    }
    
    .colum3{
        margin-top: 20px;
        margin-left: 20px;
    }
    .colum2{
        margin-top: 20px;
        margin-left: 20px;
    }
    .row{

        margin-left: 20px;
    }
}