.cuerpo {
    background-color: #1e381f;
    z-index: 1;
    font-family: Century Gothic;
    margin: 0%;
}

.logo {
    letter-spacing: 5px;
    font-size: 1.3em;
    color: #ffffff;
}

.hamburger {
    display: none;
    color: #ffffff;
}

.cabezal {
    background: #8db600;
    color: #1e381f;
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
}

.cabezal a {
    text-decoration: none;
}

.logo_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 80%;
    color: #ffffff;
}

.navigation ul li a:hover {
    background-color: #ffffff;
    color: #1e381f;
}

.botones_1_1 {
    background-color: #8db600;
    padding: 10px;
    column-gap: 18%;
    display: flex;
    justify-content: start;
}

@media only screen and (max-width: 767px) {
    .hamburger {
        display: block;
        cursor: pointer;
        padding: 0.5rem 1;
    }
    .navigation {
        width: 100%;
        margin-top: 1rem;
    }
    .navigation ul {
        display: none;
    }
    .navigation ul.show {
        display: block;
    }
    .navigation ul li {
        display: block;
    }
    .navigation ul li a {
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 80%;
        color: #ffffff;
    }
    .navigation ul li a:hover {
        background-color: #ffffff;
        color: #1e381f;
    }
}

#articulo_1 {
    color: white;
    padding-top: 2.72rem;
    width: 85%;
    max-width: 530px;
    height: 500px;
}

.main {
    padding-top: 5rem;
}

.articulo_1_1 {
    font-size: 150%;
}

#texto {
    text-align: center;
    color: white;
    text-shadow: 2px 0.5px #1e381f;
}

.listas_1_jamones {
    background-image: url(../imagenes/deliveryfiambres2.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
}

.listas_1_jamones_1 {
    object-fit: cover;
    width: 350px;
    border: 5px solid #8db600;
}

.listas_1_pizza {
    background-image: url(../imagenes/descarga.jpg);
    position: relative;
    left: 345px;
    bottom: 318px;
    width: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid #8db600;
}

.listas_1_panchos {
    background-image: url(../imagenes/super-pancho.jpg);
    position: relative;
    bottom: 205px;
    width: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    ;
    border: 5px solid #8db600;
}

.listas_1_pascualina {
    background-image: url(../imagenes/torta-pascualina-italiana-1.jpg);
    position: relative;
    left: 345px;
    bottom: 492px;
    width: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid #8db600;
}

.listas_1_empanadas {
    background-image: url(../imagenes/4a618dd3-c7bc-4bf0-9005-a7a99608f29a-600.jpg);
    position: relative;
    bottom: 410px;
    width: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid #8db600;
}

.miel {
    background-color: white;
    display: inline-block;
    text-align: center;
    padding: 8px 16px;
    margin: 6px;
    border: 3px solid #1e381f;
    border-radius: 50%;
}

.miel_1 {
    color: #1e381f;
    text-decoration: none;
}

.huevos {
    background-color: white;
    display: inline-block;
    text-align: center;
    padding: 8px 16px;
    margin: 6px;
    border: 3px solid #1e381f;
    border-radius: 50%;
}

.huevo_1 {
    color: #1e381f;
    text-decoration: none;
}

.pollos {
    background-color: white;
    display: inline-block;
    text-align: center;
    padding: 8px 16px;
    margin: 6px;
    border: 3px solid #1e381f;
    border-radius: 50%;
}

.pollos_1 {
    color: #1e381f;
    text-decoration: none;
}

.almacen {
    background-color: white;
    display: inline-block;
    text-align: center;
    padding: 8px 16px;
    margin: 6px;
    border: 3px solid #1e381f;
    border-radius: 50%;
}

.almacen_1 {
    color: #1e381f;
    text-decoration: none;
}

.pie {
    background: #8cb600d4;
    padding: 4rem 0;
}